<h1>Todos</h1>
<% @listings.each do |listing| %>
	<ul>
	<li><%=listing.description %> </li>
	</ul>
	<%=link_to "Show", listing_path(listing)%>
	<%=link_to "Edit", edit_listing_path(listing)%>
	<%= link_to 'Destroy', listing_path(listing), 
              method: :delete, data: { confirm: 'Are you sure?' } %>
	<%end%>


	<%=link_to "Create a new listing", new_listing_path%>
	